{
    "openapi": "3.0.2",
    "info": {
        "title": "Map My Crop",
        "description": "Map My Crop's API",
        "version": "0.1.0"
    },
    "servers": [
        {
            "url": "https://api.mapmycrop.com"
        }
    ],
    "paths": {
        "/admin/company": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Register",
                "operationId": "register_admin_company_post",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCompany"
                            },
                            "examples": {
                                "normal": {
                                    "summary": "A normal example",
                                    "description": "",
                                    "value": {
                                        "email": "info@mapmycrop.com",
                                        "password": "IS4Z?OTR4FN6K+IKNB",
                                        "name": "Map My Crop",
                                        "site": "mapmycrop.com",
                                        "country": "India",
                                        "ph": "911122334455",
                                        "unit": "imperial"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCompany"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/update-user": {
            "put": {
                "tags": [
                    "Admin"
                ],
                "summary": "Register",
                "operationId": "register_admin_update_user_put",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateUser"
                            },
                            "examples": {
                                "normal": {
                                    "summary": "A normal example",
                                    "description": "",
                                    "value": {
                                        "api_key": "1234567890123456789",
                                        "email": "info@mapmycrop.com",
                                        "password": "IS4Z?OTR4FN6K+IKNB",
                                        "is_active": true,
                                        "company_id": 123,
                                        "name": "name"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/payment_status": {
            "put": {
                "tags": [
                    "Admin"
                ],
                "summary": "Update Payment Status",
                "operationId": "update_payment_status_admin_payment_status_put",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdatePaymentStatus"
                            },
                            "examples": {
                                "normal": {
                                    "summary": "A normal example",
                                    "description": "",
                                    "value": {
                                        "api_keys": "a16c5315491847238065347a3de3049b,bf9790f6593e4070a31d313d860c246c",
                                        "payment_status": true,
                                        "expiry_date": "2024-01-31"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdatePaymentStatusResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/payment/cash": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Update Payment Status",
                "operationId": "update_payment_status_admin_payment_cash_post",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string"
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddCashPayment"
                            },
                            "examples": {
                                "normal": {
                                    "summary": "Accept cash payment",
                                    "description": "",
                                    "value": {
                                        "user_id": 10010101010,
                                        "farm_ids": [
                                            "farm_id_1",
                                            "farm_id_2"
                                        ],
                                        "status": "Paid",
                                        "service": "Cash",
                                        "payment_request": {
                                            "amount": "100",
                                            "recived_by": {
                                                "name": "Name",
                                                "contact": "contact"
                                            },
                                            "transaction_id": "str",
                                            "description": "description"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/users-count": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Users Count",
                "operationId": "users_count_admin_users_count_get",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Days",
                            "type": "integer",
                            "default": 90
                        },
                        "name": "days",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/paid-farms": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Paid Farms",
                "operationId": "paid_farms_admin_paid_farms_get",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Page",
                            "minimum": 1.0,
                            "type": "integer",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Size",
                            "maximum": 1000.0,
                            "minimum": 1.0,
                            "type": "integer",
                            "default": 1000
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_AdminPaidFarmsResponse_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/expert-requests": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Expert Requests",
                "operationId": "expert_requests_admin_expert_requests_get",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Page",
                            "minimum": 1.0,
                            "type": "integer",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Size",
                            "maximum": 1000.0,
                            "minimum": 1.0,
                            "type": "integer",
                            "default": 1000
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_AdminExpertRequestsResponse_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/deactivate-user": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Deactivate User",
                "description": "Deactivate user function\n\n:param api_key: admin's api key\n:param user_id: user's id\n:param db: database\n:return : \"success\"",
                "operationId": "deactivate_user_admin_deactivate_user_get",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "User Id",
                            "type": "integer",
                            "default": 0
                        },
                        "name": "user_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/activate-user": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Activate User",
                "description": "Activate user function\n\n:param api_key: admin's api key\n:param user_id: user's id\n:param db: database\n:return : \"success\"",
                "operationId": "activate_user_admin_activate_user_get",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "User Id",
                            "type": "integer",
                            "default": 0
                        },
                        "name": "user_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/activate-reseller": {
            "put": {
                "tags": [
                    "Admin"
                ],
                "summary": "Activate Reseller",
                "description": "Used By admin to activate a particular reseller in the system\n\n:param api_key: API Key of the Admin which is used to authenticate\n:param payload: Input detailing out which Reseller to update",
                "operationId": "activate_reseller_admin_activate_reseller_put",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResellerStatusModifyInput"
                            },
                            "examples": {
                                "normal": {
                                    "summary": "Input detailing out which Reseller to update",
                                    "description": "",
                                    "value": {
                                        "id": 10,
                                        "active_status": true
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/deactivate-reseller": {
            "put": {
                "tags": [
                    "Admin"
                ],
                "summary": "Deactivate Reseller",
                "description": "Used By admin to deactivate a particular reseller in the system\n\n:param api_key: API Key of the Admin which is used to authenticate\n:param payload: Input detailing out which Reseller to update",
                "operationId": "deactivate_reseller_admin_deactivate_reseller_put",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResellerStatusModifyInput"
                            },
                            "examples": {
                                "normal": {
                                    "summary": "Input detailing out which Reseller to update",
                                    "description": "",
                                    "value": {
                                        "id": 10,
                                        "active_status": true
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/resellers": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Activate Reseller",
                "description": "Used by Admin to get a List of Resellers in the system\n\n:param api_key: API Key of the Admin which is used to authenticate",
                "operationId": "activate_reseller_admin_resellers_get",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/planetscope_subscription": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Update Planetscope",
                "operationId": "update_planetscope_admin_planetscope_subscription_get",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string"
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Farm Id",
                            "type": "string"
                        },
                        "name": "farm_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/search/company": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Search Company",
                "operationId": "search_company_admin_search_company_post",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestUserInfo"
                            },
                            "example": {
                                "get_by_email": {
                                    "type": "email",
                                    "email": "test@test.com"
                                },
                                "get_by_phone": {
                                    "type": "phone",
                                    "phone": "9112345678"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/search/user": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Search User",
                "operationId": "search_user_admin_search_user_post",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestUserInfo"
                            },
                            "example": {
                                "get_by_email": {
                                    "type": "email",
                                    "email": "test@test.com"
                                },
                                "get_by_phone": {
                                    "type": "phone",
                                    "phone": "9112345678"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/cache/clear": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Cache Cler",
                "operationId": "cache_cler_admin_cache_clear_post",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/update-enterprise-stats": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Update Enterprise Stats",
                "operationId": "update_enterprise_stats_admin_update_enterprise_stats_post",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Enterprise Id",
                            "type": "integer"
                        },
                        "name": "enterprise_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "default": ""
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisory/all": {
            "get": {
                "tags": [
                    "Advisory"
                ],
                "summary": "Index",
                "operationId": "index_advisory_all_get",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string"
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Type",
                            "type": "string"
                        },
                        "name": "type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Response Index Advisory All Get",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GetAdvisory"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisory/create": {
            "post": {
                "tags": [
                    "Advisory"
                ],
                "summary": "Create",
                "operationId": "create_advisory_create_post",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string"
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostAdvisory"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAdvisory"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisory/get-advisory": {
            "get": {
                "tags": [
                    "Advisory"
                ],
                "summary": "Show",
                "operationId": "show_advisory_get_advisory_get",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string"
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Farm Id",
                            "type": "string"
                        },
                        "name": "farm_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Humidity",
                            "type": "number"
                        },
                        "name": "humidity",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Temperature",
                            "type": "number"
                        },
                        "name": "temperature",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Wind",
                            "type": "number"
                        },
                        "name": "wind",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Rainfall",
                            "type": "number"
                        },
                        "name": "rainfall",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Uv",
                            "type": "number"
                        },
                        "name": "uv",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Soilmoisture",
                            "type": "number"
                        },
                        "name": "soilmoisture",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdvisoryShowResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisory/logs": {
            "get": {
                "tags": [
                    "Advisory"
                ],
                "summary": "Fetch filtered advisory logs",
                "description": "Fetch filtered advisory log records.\n\nThis endpoint retrieves advisory log data joined with farm and advisory tables.\n\n### Filters:\n- advisory_type: Advisory flag (Alert, Warning, Danger) from advisory.flag\n- crop: Crop name from advisory_log.crop column\n- farm_id: Farm identifier\n- start_date / end_date: Date range filter on advisory_log.created_at\n- sort_by: created_at | farmer_name | status\n- sort_order: asc | desc\n- limit and page: for pagination\n\n### Returns:\nStructured list of advisory logs with:\n- farmer_name\n- farm_name\n- region\n- crop (from advisory_log.crop)\n- advisory_type\n- flag\n- advisory_title\n- advisory_desc\n- is_open\n- timestamp\n\n### Notes:\n- start_date and end_date must be in YYYY-MM-DD format.\n- Database timestamps (e.g., 2025-05-19 02:24:58.986) are compared against start/end_date by converting them to datetime internally.\n\n### Response Format:\n{\n    \"message\": \"Advisory logs fetched successfully.\",\n    \"status_code\": 200,\n    \"error_code\": null,\n    \"data\": [ ... ],\n    \"pagination\": {\n        \"total_count\": 100,\n        \"limit\": 20,\n        \"page\": 1,\n        \"has_more\": true\n    },\n    \"timestamp\": \"2025-06-02T10:00:00Z\",\n    \"request_id\": \"abc-123\"\n}",
                "operationId": "get_advisory_logs_advisory_logs_get",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string"
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Advisory Type",
                            "type": "string"
                        },
                        "name": "advisory_type",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Crop",
                            "type": "string"
                        },
                        "name": "crop",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Farm Id",
                            "type": "string"
                        },
                        "name": "farm_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Start Date",
                            "type": "string"
                        },
                        "name": "start_date",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "End Date",
                            "type": "string"
                        },
                        "name": "end_date",
                        "in": "query"
                    },
                    {
                        "description": "Page number, starting from 1",
                        "required": false,
                        "schema": {
                            "title": "Page",
                            "minimum": 1.0,
                            "type": "integer",
                            "description": "Page number, starting from 1",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "description": "Number of records per page",
                        "required": false,
                        "schema": {
                            "title": "Limit",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "type": "integer",
                            "description": "Number of records per page",
                            "default": 20
                        },
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Sort By",
                            "type": "string",
                            "default": "created_at"
                        },
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Sort Order",
                            "type": "string",
                            "default": "desc"
                        },
                        "name": "sort_order",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response with filtered advisory logs",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Advisory logs fetched successfully. Found 2 records.",
                                    "status_code": 200,
                                    "data": [
                                        {
                                            "id": 101,
                                            "farmer_name": "Raj Sharma",
                                            "farm_name": "Green Acres",
                                            "region": "Nashik",
                                            "crop": "Wheat",
                                            "advisory_type": "Alert",
                                            "flag": "Alert",
                                            "advisory_title": "Weather Alert",
                                            "advisory_desc": "Heavy rain expected",
                                            "is_open": true,
                                            "timestamp": "2025-05-19T02:24:58.986000"
                                        }
                                    ],
                                    "pagination": {
                                        "total_count": 1,
                                        "limit": 20,
                                        "page": 1,
                                        "has_more": false
                                    },
                                    "timestamp": "2025-06-02T10:12:45Z",
                                    "request_id": "abc-123-xyz"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid date format provided",
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "Invalid start_date format. Use YYYY-MM-DD.",
                                    "status_code": 400,
                                    "error_code": "INVALID_DATE_FORMAT",
                                    "data": {},
                                    "timestamp": "2025-06-02T10:12:45Z",
                                    "request_id": "abc-123-xyz"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid api key provided",
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "Invalid API key.",
                                    "status_code": 401,
                                    "error_code": "INVALID_API_KEY",
                                    "data": {},
                                    "timestamp": "2025-06-02T10:12:45Z",
                                    "request_id": "abc-123-xyz"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error while fetching advisory logs",
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "Failed to fetch advisory logs: <error_message>",
                                    "status_code": 500,
                                    "error_code": "LOG_FETCH_ERROR",
                                    "data": {},
                                    "timestamp": "2025-06-02T10:12:45Z",
                                    "request_id": "abc-123-xyz"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisory/update/{advisory_id}": {
            "patch": {
                "tags": [
                    "Advisory"
                ],
                "summary": "Update Advisory Log Status",
                "description": "Update the status of an advisory log entry.\n\nThis endpoint allows clients to update the `is_open` status of a specific advisory log.\nThe request is authorized via a valid API key.",
                "operationId": "update_advisory_log_status_advisory_update__advisory_id__patch",
                "parameters": [
                    {
                        "description": "ID of the advisory log to update",
                        "required": true,
                        "schema": {
                            "title": "Advisory Id",
                            "type": "integer",
                            "description": "ID of the advisory log to update"
                        },
                        "name": "advisory_id",
                        "in": "path"
                    },
                    {
                        "description": "New status: True (open) or False (closed)",
                        "required": true,
                        "schema": {
                            "title": "Is Open",
                            "type": "boolean",
                            "description": "New status: True (open) or False (closed)"
                        },
                        "name": "is_open",
                        "in": "query"
                    },
                    {
                        "description": "API key for authentication",
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "description": "API key for authentication"
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Advisory log status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Advisory log status updated successfully.",
                                    "status_code": 200,
                                    "data": {
                                        "advisory_id": 1,
                                        "is_open": true,
                                        "timestamp": "2025-06-05T08:22:12.000Z"
                                    },
                                    "timestamp": "2025-06-05T08:22:12.000Z",
                                    "request_id": "xyz-123"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "Invalid API key.",
                                    "status_code": 401,
                                    "error_code": "UNAUTHORIZED",
                                    "data": {},
                                    "timestamp": "2025-06-05T08:22:12.000Z",
                                    "request_id": "xyz-123"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Advisory log not found",
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "Advisory log with ID 99 not found.",
                                    "status_code": 404,
                                    "error_code": "NOT_FOUND",
                                    "data": {},
                                    "timestamp": "2025-06-05T08:22:12.000Z",
                                    "request_id": "xyz-123"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "Error updating advisory log status: <error details>",
                                    "status_code": 500,
                                    "error_code": "INTERNAL_SERVER_ERROR",
                                    "data": {},
                                    "timestamp": "2025-06-05T08:22:12.000Z",
                                    "request_id": "xyz-123"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/crop-disease": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Crop Disease",
                "operationId": "crop_disease_ai_crop_disease_post",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string"
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Crop",
                            "type": "string"
                        },
                        "name": "crop",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Body_crop_disease_ai_crop_disease_post"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/cropDiseaseDetection"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/water-requirement-model1": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Water Requirement Model1",
                "description": "Water Requirement Model 1\n\n:param api_key: user's api key\n:param crop_name: crop name\n:param farm_id: farm's primary key\n:param sowing_date: date of sowing\n:param db: database dependencies\n:return: return Water Requirement per day",
                "operationId": "water_requirement_model1_ai_water_requirement_model1_post",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string"
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Crop Name",
                            "type": "string"
                        },
                        "name": "crop_name",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Farm Id",
                            "type": "string"
                        },
                        "name": "farm_id",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Sowing Date",
                            "type": "string",
                            "format": "date"
                        },
                        "name": "sowing_date",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Response Water Requirement Model1 Ai Water Requirement Model1 Post",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/water_req_record"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/water-requirement-model2": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Water Requirement Model2",
                "description": "Water Requirement Model 2\n\n:param api_key: user's api key\n:param crop_name: crop name\n:param farm_id: farm's primary key\n:param sowing_date: date of sowing\n:irrigation: type of irrigation\n:param db: database dependencies\n:return: return Water Requirement per day",
                "operationId": "water_requirement_model2_ai_water_requirement_model2_post",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string"
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Crop Name",
                            "type": "string"
                        },
                        "name": "crop_name",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Farm Id",
                            "type": "string"
                        },
                        "name": "farm_id",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Sowing Date",
                            "type": "string",
                            "format": "date"
                        },
                        "name": "sowing_date",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/IrrigationType"
                        },
                        "name": "irrigation",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Response Water Requirement Model2 Ai Water Requirement Model2 Post",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/water_req_record"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/job_create": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Job Create",
                "operationId": "job_create_ai_job_create_post",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string"
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Model Id",
                            "type": "string"
                        },
                        "name": "model_id",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "Inputs",
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/job_status": {
            "get": {
                "tags": [
                    "AI"
                ],
                "summary": "Job Create",
                "operationId": "job_create_ai_job_status_get",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string"
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Model Id",
                            "type": "string"
                        },
                        "name": "model_id",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Job Id",
                            "type": "string"
                        },
                        "name": "job_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/vegetation-index-analysis": {
            "get": {
                "tags": [
                    "AI"
                ],
                "summary": "Analyze Vegetation Index",
                "operationId": "analyze_vegetation_index_ai_vegetation_index_analysis_get",
                "parameters": [
                    {
                        "description": "Farm identifier",
                        "required": true,
                        "schema": {
                            "title": "Farm Id",
                            "type": "string",
                            "description": "Farm identifier"
                        },
                        "name": "farm_id",
                        "in": "query"
                    },
                    {
                        "description": "API key for authentication",
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "description": "API key for authentication"
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "description": "Vegetation index to analyze",
                        "required": true,
                        "schema": {
                            "title": "Index",
                            "enum": [
                                "NDVI",
                                "NDRE",
                                "MSAVI",
                                "RECI"
                            ],
                            "type": "string",
                            "description": "Vegetation index to analyze"
                        },
                        "name": "index",
                        "in": "query"
                    },
                    {
                        "description": "Start date in YYYY-MM-DD format",
                        "required": true,
                        "schema": {
                            "title": "Start Date",
                            "pattern": "^\\d{4}-\\d{2}-\\d{02}$",
                            "type": "string",
                            "description": "Start date in YYYY-MM-DD format"
                        },
                        "name": "start_date",
                        "in": "query"
                    },
                    {
                        "description": "End date in YYYY-MM-DD format",
                        "required": true,
                        "schema": {
                            "title": "End Date",
                            "pattern": "^\\d{4}-\\d{2}-\\d{02}$",
                            "type": "string",
                            "description": "End date in YYYY-MM-DD format"
                        },
                        "name": "end_date",
                        "in": "query"
                    },
                    {
                        "description": "Number of zones to split the image into",
                        "required": true,
                        "schema": {
                            "title": "Zones",
                            "maximum": 7.0,
                            "minimum": 3.0,
                            "type": "integer",
                            "description": "Number of zones to split the image into"
                        },
                        "name": "zones",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/VRAgenerate_outputpdf/": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Generate Vegetation Rate Application (VRA) PDF or Shapefile",
                "description": "Generate a detailed Vegetation Rate Application (VRA) report in PDF format or export vegetation zones as a shapefile.  \nThis endpoint performs vegetation index analysis over a specified date range, divides the farm into zones based on vegetation productivity, and produces a downloadable output with zone-wise statistics and maps.\n\n### Input Parameters:\n\n**Query Parameters:**\n- **farm_id** (str, required): Unique identifier of the farm.\n- **api_key** (str, required): API key for authentication and data access.\n- **index** (str, required): Vegetation index to be used (e.g., NDVI, EVI).\n- **start_date** (str, required): Start date for the analysis range in `YYYY-MM-DD` format.\n- **end_date** (str, required): End date for the analysis range in `YYYY-MM-DD` format.\n- **zones** (int, required): Number of vegetation zones to classify (must be between 3 and 7).\n- **output_format** (str, optional): Format of the output, either `pdf` (default) or `shapefile`.\n\n**Request Body (payload):**\n- **input_budget** (float): Input cost in INR (optional).\n- **potential_savings** (float): Estimated savings in INR (optional).\n- **notes** (str): Additional user notes (optional).\n- **zoned_ndvi_base64** (str): Base64-encoded image of the zoned NDVI (required for report).\n- **external_img_url** (str): Optional URL of external NDVI image.\n\n### Output:\n\n- If `output_format=pdf`: A downloadable PDF containing zone-wise maps, statistics, and insights.\n- If `output_format=shapefile`: A downloadable zipped Shapefile representing vegetation zones.\n\n### Responses:\n\n- **200 OK**: PDF or Shapefile generated and returned as downloadable file.\n- **400 Bad Request**: Invalid parameters or missing required data.\n- **500 Internal Server Error**: Failed to process request due to internal issues.",
                "operationId": "generate_vra_output_pdf_ai_VRAgenerate_outputpdf__post",
                "parameters": [
                    {
                        "description": "Unique identifier of the farm",
                        "required": true,
                        "schema": {
                            "title": "Farm Id",
                            "type": "string",
                            "description": "Unique identifier of the farm"
                        },
                        "name": "farm_id",
                        "in": "query"
                    },
                    {
                        "description": "API key for authentication",
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string",
                            "description": "API key for authentication"
                        },
                        "name": "api_key",
                        "in": "query"
                    },
                    {
                        "description": "Vegetation index to be used for analysis",
                        "required": true,
                        "schema": {
                            "title": "Index",
                            "type": "string",
                            "description": "Vegetation index to be used for analysis"
                        },
                        "name": "index",
                        "in": "query"
                    },
                    {
                        "description": "Start date in YYYY-MM-DD",
                        "required": true,
                        "schema": {
                            "title": "Start Date",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                            "type": "string",
                            "description": "Start date in YYYY-MM-DD"
                        },
                        "name": "start_date",
                        "in": "query"
                    },
                    {
                        "description": "End date in YYYY-MM-DD",
                        "required": true,
                        "schema": {
                            "title": "End Date",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                            "type": "string",
                            "description": "End date in YYYY-MM-DD"
                        },
                        "name": "end_date",
                        "in": "query"
                    },
                    {
                        "description": "Number of vegetation zones (3-7)",
                        "required": true,
                        "schema": {
                            "title": "Zones",
                            "maximum": 7.0,
                            "minimum": 3.0,
                            "type": "integer",
                            "description": "Number of vegetation zones (3-7)"
                        },
                        "name": "zones",
                        "in": "query"
                    },
                    {
                        "description": "Output format: 'pdf' or 'shapefile'",
                        "required": false,
                        "schema": {
                            "title": "Output Format",
                            "enum": [
                                "pdf",
                                "shapefile"
                            ],
                            "type": "string",
                            "description": "Output format: 'pdf' or 'shapefile'",
                            "default": "pdf"
                        },
                        "name": "output_format",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VRA"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "PDF or Shapefile generated successfully",
                        "content": {
                            "application/pdf": {},
                            "application/zip": {}
                        }
                    },
                    "400": {
                        "description": "Invalid request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/disease-detection": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Detect Disease",
                "operationId": "detect_disease_ai_disease_detection_post",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Api Key",
                            "type": "string"
                        },
                        "name": "api_key",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Body_detect_disease_ai_disease_detection_post"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register",
                "operationId": "register_auth_register_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserSchema"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login",
                "operationId": "login_auth_login_post",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Source",
                            "enum": [
                                "web",
                                "android",
                                "ios",
                                "api"
                            ],
                            "type": "string",
                            "default": "web"
                        },
                        "name": "source",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/Body_login_auth_login_post"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserTokenSchema"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/send_otp": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Send Otp",
                "operationId": "send_otp_auth_send_otp_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/updatedSendOTPPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/password-reset": {
            "put": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Reset Pass Otp",
                "operationId": "reset_pass_otp_auth_password_reset_put",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResetPasswordWithOTPPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/activate": {
            "put": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Activate User With Otp",
                "operationId": "activate_user_with_otp_auth_activate_put",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyOTPPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/delete_account": {
            "put": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Delete User With Otp",
                "operationId": "delete_user_with_otp_auth_delete_account_put",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyOTPPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/verify_otp_foa": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Verify Otp",
                "operationId": "verify_otp_auth_verify_otp_foa_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyOTPPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/generate-captcha": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Generate Captcha",
[...]
