@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #f5f5f5;
}
/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.scroll-hidden::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  
  .scroll-hidden {
    -ms-overflow-style: none;  /* For Internet Explorer 10+ */
    scrollbar-width: none;  /* For Firefox */
  }
  